.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.visited{
    background-color: rgb(12, 224, 239);
    color: black;
}
.flag-container img{
    width: 100px;

}